@page "/login"
<PageTitle>Login</PageTitle>
@inject Orchestrator _orchestrator
@inject NavigationManager _nav

 

<div class="login-page-container">
    <div class="login-card">
        <h3>Login</h3>
        <EditForm Model="@userLogin" OnValidSubmit="login">
            <div class="form-group">
                <label for="username">Username: </label>
                <InputText id="username" @bind-Value="userLogin.Username" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText id="password" @bind-Value="userLogin.Password" type="password" class="form-control"/>
            </div>
            
            <button type="submit" class="submit-button">Submit</button>
        </EditForm>
    </div>
</div>

