@page "/login"
<PageTitle>Login</PageTitle>
@inject Orchestrator _orchestrator
@inject NavigationManager _nav

<style>
    .login-page-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: linear-gradient(to bottom, #191414, #282828);
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .login-card {
        background-color: #333;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
        width: 100%;
        max-width: 400px;
        color: white;
    }

    .login-card h3 {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 30px;
        color: #1DB954; /* Spotify Green */
    }
    
    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    /* Blazor inputs are rendered as standard HTML inputs */
    .form-group .form-control {
        width: 100%;
        padding: 12px;
        border: 1px solid #555;
        border-radius: 5px;
        background-color: #444;
        color: white;
        font-size: 1em;
        box-sizing: border-box; /* Important for padding and width */
    }
    
    .form-group .form-control:focus {
        outline: none;
        border-color: #1DB954;
        box-shadow: 0 0 5px #1DB954;
    }

    .submit-button {
        width: 100%;
        background-color: #1DB954;
        color: white;
        padding: 15px 30px;
        text-decoration: none;
        border-radius: 25px;
        font-weight: bold;
        border: none;
        font-size: 1.1em;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .submit-button:hover {
        background-color: #1ED760;
    }

</style>

<div class="login-page-container">
    <div class="login-card">
        <h3>Login</h3>
        <EditForm Model="@userLogin" OnValidSubmit="login">
            <div class="form-group">
                <label for="username">Username: </label>
                <InputText id="username" @bind-Value="userLogin.Username" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText id="password" @bind-Value="userLogin.Password" type="password" class="form-control"/>
            </div>
            
            <button type="submit" class="submit-button">Submit</button>
        </EditForm>
    </div>
</div>


@code {
	LoginUserViewModel userLogin = new();
	public void login()
	{
		_orchestrator.validateUserInformation(userLogin.Username, userLogin.Password);
		_nav.NavigateTo("/playlists");
	}
}