@page "/playlists"

<h3>Playlists de @nombreUsuario</h3>

@if (userPlaylists == null)
{
    <p><em>Cargando playlists...</em></p>
}
else if (!userPlaylists.Any())
{
    <p>No tienes ninguna playlist todavía. ¡Crea una!</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre de la Playlist</th>
                <th>Descripción</th>
                <th>Canciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var playlist in userPlaylists)
            {
                <tr>
                    <td>@playlist.Name</td>
                    <td>@playlist.Description</td>
                    <td>@(playlist.Items?.Count ?? 0)</td>
                </tr>
            }
        </tbody>
    </table>
}

